SOAP/src/main/resources/SoapService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SoapService" targetNamespace="http://all.Services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://all.Services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema targetNamespace="http://all.Services/" version="1.0" xmlns:ns92="http://all.Services/" xmlns:tns="http://all.Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="human" type="tns:human"/>
            <xs:element name="list" type="tns:repository"/>

            <xs:complexType name="human">
                <xs:sequence>
                    <xs:element name="humanId" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="age" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="repository">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Human" type="tns:human"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getHumanRequest">
        <wsdl:part name="humanId" type="xsd:int">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHumanResponse">
        <wsdl:part name="return" type="tns:human">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHumansByAgeResponse">
        <wsdl:part name="return" type="tns:repository">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getHumansByAgeRequest">
        <wsdl:part name="age" type="xsd:int">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SoapService">
        <wsdl:operation name="getHuman">
            <wsdl:input name="getHumanRequest" message="tns:getHumanRequest">
            </wsdl:input>
            <wsdl:output name="getHumanResponse" message="tns:getHumanResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHumansByAge">
            <wsdl:input name="getHumansByAgeRequest" message="tns:getHumansByAgeRequest">
            </wsdl:input>
            <wsdl:output name="getHumansByAgeResponse" message="tns:getHumansByAgeResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SoapBinding" type="tns:SoapService">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getHuman">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getHumanRequest">
                <soap:body use="literal" namespace="http://all.Services/"/>
            </wsdl:input>
            <wsdl:output name="getHumanResponse">
                <soap:body use="literal" namespace="http://all.Services/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getHumansByAge">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="getHumansByAgeRequest">
                <soap:body use="literal" namespace="http://all.Services/"/>
            </wsdl:input>
            <wsdl:output name="getHumansByAgeResponse">
                <soap:body use="literal" namespace="http://all.Services/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SoapService">
        <wsdl:port name="SoapPort" binding="tns:SoapBinding">
            <soap:address location="http://localhost:1234/SoapPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
